{% extends 'base.html' %}
{% load humanize %}

{% block title %}
	<title> Notifications</title>
{% endblock title %}

{% block content %}
    <section class="section-content padding-y" style="min-height:84vh">
        <div class="card mx-auto" style="max-width: 680px; margin-top:40px;">
            <div class="post-project col-lg-12">
                <br>
                <h3>Notifications</h3>
                {% if notifications %}
                    <div class="post-project-fields">
                        <div class="nott-list">
                            {% for notification in notifications %}
                                {% if notification.notification_type == 1 %}
                                    <div class="notfication-details" {% if notification.is_seen %} {% else %} style="background-color:#eeeeee;" {% endif %} >
                                        <div class="noty-user-img">
                                            <img src="{{ notification.sender.photo_profile.url }}" width="40" height="40">
                                        </div>
                                        <div class="notification-info">
                                            <p>
                                                <a href="{%  url 'user-profile' notification.sender notification.sender.id %}">{{ notification.sender }}</a>
                                                {% if notification.post_project %}
                                                    <a href="{% url 'comment-projects' notification.post_project.id %}" style="color:black">
                                                        like your post project "{{ notification.post_project.description_project | truncatechars:37 }}"
                                                    </a>
                                                {% else %}
                                                    <a href="{% url 'comment-jobs' notification.post_job.id %}" style="color:black">
                                                        like your post job "{{ notification.post_job.description_job | truncatechars:37 }}"
                                                    </a>
                                                {% endif %}
                                            </p>
                                            <span>{{ notification.created | naturaltime }}</span>
                                        </div>
                                    </div>
                                {% endif %}

                                {% if notification.notification_type == 2 %}
                                    <div class="notfication-details" {% if notification.is_seen %} {% else %} style="background-color:#eeeeee;" {% endif %}>
                                        <div class="noty-user-img">
                                            <img src="{{ notification.sender.photo_profile.url }}" width="40" height="40">
                                        </div>

                                        <div class="notification-info">
                                            <p>
                                                <a href="{%  url 'user-profile' notification.sender notification.sender.id %}">
                                                    {{ notification.sender }}
                                                </a>
                                                {% if notification.post_project %}
                                                    <a href="{% url 'comment-projects' notification.post_project.id %}" style="color:black">
                                                        comment on your post project "{{ notification.post_project | truncatechars:37  }}"<br>
                                                        {{ notification.body | truncatechars:50 }}
                                                    </a>
                                                {% else %}
                                                    <a href="{% url 'comment-jobs' notification.post_job.id %}" style="color:black">
                                                        comment on your post job "{{ notification.post_job.description_job | truncatechars:37 }}"<br>
                                                        {{ notification.body | truncatechars:50 }}
                                                    </a>
                                                {% endif %}
                                            </p>
                                            <span>{{ notification.created | naturaltime }}</span>
                                        </div><!--notification-info -->

                                    </div>
                                {% endif %}

                                {% if notification.notification_type == 3 %}
                                    <div class="notfication-details" {% if notification.is_seen %} {% else %} style="background-color:#eeeeee;" {% endif %}>
                                        <div class="noty-user-img">
                                            <img src="{{ notification.sender.photo_profile.url }}" width="40" height="40">
                                        </div>

                                        <div class="notification-info">
                                            <p>
                                                <a href="{%  url 'user-profile' notification.sender notification.sender.id %}">
                                                    {{ notification.sender }}
                                                </a>
                                                <a style="color:black">
                                                    Start following you
                                                </a>
                                            </p>
                                            <span>{{ notification.created | naturaltime }}</span>
                                        </div><!--notification-info -->
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div><!--nott-list end-->
                    </div><!--post-project-fields end-->
                {% else %}
                    <div class="post-project-fields">
            <div class="nott-list">
                <center>
                    <h1>there's no notifications</h1>
                </center>
            </div>
        </div>
                {% endif %}
            </div><!--post-project end-->
        </div>
        <br><br>
    </section>
{% endblock content %}
