{% load static %}
{% load humanize %}
<div class="posts-section">

    {% if my_profile.my_bids_projects.all.count == 0%}
        <div class="post-bar">
            <div class="post_topbar">
                <div class="usy-dt">
                    there's no bids projects
                </div>
            </div>
        </div>
    {% else %}
        {% for project in my_profile.my_bids_projects.all %}
            <div class="post-bar">
                <div class="post_topbar">
                    <div class="usy-dt">
                        <img src="{{ project.user.photo_profile.url }}" width="50" height="50">
                        <div class="usy-name">
                            <a href="{% url 'user-profile' project.user project.user.id %}">
                                <h3>{{ project.user.full_name }}</h3>
                            </a>
                            <span><img src="images/clock.png" alt="">{{ project.created_project | naturaltime }}</span>
                        </div>
                    </div>
                </div>
                <div class="epi-sec">
                    <ul class="descp">
                        <li><img src="{% static 'images/icon8.png' %}" alt=""><span>Frontend Developer</span></li>
                        <li><img src="{% static 'images/icon9.png' %}" alt=""><span>{{ project.location }}</span></li>
                    </ul>
                    <ul class="bk-links">
                        <li>
                            <a href="{% url 'add-user-to-conversation' project.user.id %}">
                                <i class="la la-envelope"></i>
                            </a>
                        </li>
                        {% if project in my_profile.my_bids_projects.all %}
                            <li>
                                <a href="{% url 'unbid-project' project.id %}" class="bid_now">UnBid</a>
                            </li>
                        {% else %}
                            <li>
                                <a href="{% url 'bid-project' project.id %}" class="bid_now">Bid Now</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
                <div class="job_descp">
                    <h3>{{ project.name_project }}</h3>
                    <ul class="job-dt">
                        <li><span>${{ project.start_price }} - ${{ project.end_price }}</span></li>
                    </ul>
                    <p>
                        {{ project.description_project | truncatechars:180 }}
                        {% if project.description_project|length > 150 %}
                            .....<a href="{% url 'comment-projects' project.id %}">view more</a>
                        {% endif %}
                    </p>
                    <ul class="skill-tags">
                        {% for tag in project.skills_tags_projects.all %}
                            <li><a>{{ tag }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="job-status-bar">
                    <ul class="like-com">
                        <li>
                            <!-- check the user if do a like -->
                            {% if request.user in project.likes.all %}
                                <a href="{% url 'remove-like-post-projects' project.id %}" class="active"><i class="la la-heart"></i> Like</a>
                                <img src="{% static 'images/liked-img.png' %}">
                                <span>{{ project.likes.all.count }}</span>
                            {% else %}
                                <a href="{% url 'add-like-post-projects' project.id %}"><i class="la la-heart"></i> Like</a>
                                <img src="{% static 'images/liked-img.png' %}">
                                <span>{{ project.likes.all.count }}</span>
                            {% endif %}
                        </li>
                        <li>
                            <a class="com" href="{% url 'comment-projects' project.id %}">
                                <img src="{% static 'images/com.png' %}"> Comment
                                {{ project.post_project_comment.all.count }}
                            </a>
                        </li>
                    </ul>
                    <a><i class="la la-eye"></i>Views {{ project.viewers_project.all.count }}</a>
                </div>
            </div><!--post-bar end-->
        {% endfor %}
    {% endif %}
</div><!--posts-section end-->
