{% load static %}
<div class="portfolio-gallery-sec">
    <h3>Portfolio</h3>
    <div class="gallery_pf">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-6">
                <div class="gallery_pt">
                   <!-- <img src="{% static 'http://via.placeholder.com/271x174' %}" alt="">-->
                    <a href="#" title=""><img src="{% static 'images/all-out.png' %}" alt=""></a>
                </div><!--gallery_pt end-->
            </div>
        </div>
    </div><!--gallery_pf end-->
</div><!--portfolio-gallery-sec end-->