{% load static %}
<div class="posts-section">
    <!-- get all users you are saved their jobs-->
    {% for profile in my_profile.saved_jobs.all %}
        <div class="post-bar">
            <div class="post_topbar">
                <div class="usy-dt">
                    <img src="{{ profile.photo_profile.url }}" width="50" height="50">
                    <div class="usy-name">
                        <h3>{{ profile.full_name }}</h3>
                        <span><img src="images/clock.png" alt="">3 min ago</span>
                    </div>
                </div>
            </div>
            <div class="epi-sec">
                <ul class="descp">
                    <li><img src="{% static 'images/icon8.png' %}" alt=""><span>Epic Coder</span></li>
                    <li><img src="{% static 'images/icon9.png' %}" alt=""><span>{{ profile.userprofile.location_country }}</span></li>
                </ul>
                <ul class="bk-links">
                    <li>
                        <!-- get the users saved in UserProfile -->
                        {% if profile in my_profile.saved_jobs.all %}
                            <a href="{% url 'unsaved-jobs' profile.id %}">
                                <i class="la la-check"></i>
                            </a>
                        {% else %}
                            <a href="{% url 'saved-jobs' profile.id %}">
                                <i class="la la-bookmark"></i>
                            </a>
                        {% endif %}
                    </li>
                    <li><a href="#" title=""><i class="la la-envelope"></i></a></li>
                </ul>
            </div>
            <div class="job_descp">
                <h3>{{ profile.userprofile.title }}</h3>
                <ul class="job-dt">
                    <li><a href="#" title="">{{ profile.userprofile.type_work }}</a></li>
                    <li><span>${{ profile.userprofile.hourly_work }} / hr</span></li>
                </ul>
                <p>{{ profile.userprofile.overview }} <a href="#" title="">view more</a></p>
                <ul class="skill-tags">
                    {% for tag in profile.userprofile.skills_tags_user.all %}
                        <li><a>{{ tag }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="job-status-bar">
            <ul class="like-com">
                <li>
                    <a href="#"><i class="la la-heart"></i> Like</a>
                    <img src="{% static 'images/liked-img.png' %}" alt="">
                    <span>25</span>
                </li>
            </ul>
        </div>
        </div>
    {% endfor %}
</div><!--posts-section end-->
