{% load static %}
<div class="posts-section">
    {% for saved_jobs in user_profile_saved_jobs.saved_jobs.all %}
        <div class="post-bar">
        <div class="post_topbar">
            <div class="usy-dt">
                <img src="{{ saved_jobs.photo_profile.url }}" width="50" height="50">
                <div class="usy-name">
                    <h3>{{ saved_jobs.full_name }}</h3>
                    <span><img src="images/clock.png" alt="">3 min ago</span>
                </div>
            </div>
            <div class="ed-opts">
                <a href="#" title="" class="ed-opts-open"><i class="la la-ellipsis-v"></i></a>
                <ul class="ed-options">
                    <li><a href="#" title="">Edit Post</a></li>
                    <li><a href="#" title="">Unsaved</a></li>
                    <li><a href="#" title="">Unbid</a></li>
                    <li><a href="#" title="">Close</a></li>
                    <li><a href="#" title="">Hide</a></li>
                </ul>
            </div>
        </div>
        <div class="epi-sec">
            <ul class="descp">
                <li><img src="{% static 'images/icon8.png' %}" alt=""><span>Epic Coder</span></li>
                <li><img src="{% static 'images/icon9.png' %}" alt=""><span>{{ saved_jobs.userprofile.location_country }}</span></li>
            </ul>
            <ul class="bk-links">
                <!-- get the id of UserProfile -->
                {% if user_profile.user in my_profile.saved_jobs.all %}
                    <a href="{% url 'unsaved-jobs' user_profile.id %}">
                        <i class="la la-check"></i>
                    </a>
                {% else %}
                    <a href="{% url 'saved-jobs' user_profile.id %}">
                        <i class="la la-bookmark"></i>
                    </a>
                {% endif %}
                <li><a href="#" title=""><i class="la la-envelope"></i></a></li>
            </ul>
        </div>
        <div class="job_descp">
            <h3>{{ saved_jobs.userprofile.title }}</h3>
            <ul class="job-dt">
                <li><a href="#" title="">{{ saved_jobs.userprofile.type_work }}</a></li>
                <li><span>${{ saved_jobs.userprofile.hourly_work }} / hr</span></li>
            </ul>
            <p>{{ saved_jobs.userprofile.overview }} <a href="#" title="">view more</a></p>
            <ul class="skill-tags">
                {% for tag in saved_jobs.userprofile.skills_tags_user.all %}
                    <li><a>{{ tag }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="job-status-bar">
            <ul class="like-com">
                <li>
                    <a href="#"><i class="la la-heart"></i> Like</a>
                    <img src="images/liked-img.png" alt="">
                    <span>25</span>
                </li>
                <li><a href="#" title="" class="com"><img src="images/com.png" alt=""> Comment 15</a></li>
            </ul>
            <a><i class="la la-eye"></i>Views 50</a>
        </div>
    </div>
    {% endfor %}
</div><!--posts-section end-->
