{% extends 'base.html' %}

{% block title %}
	<title> Forgot Password </title>
{% endblock title %}

{% block content %}

<section class="section-content padding-y" style="min-height:84vh">

	<div class="card mx-auto" style="max-width: 600px; margin-top:100px;">
        <div class="post-project-fields">
            <h4 class="card-title mb-4">Forgot Password</h4>
            {% include 'includes/alerts.html' %}
            <form action="" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Email Address" name="email" required>
                </div> <!-- form-group// -->

                <div class="checky-sec">
                    <a href="{% url 'login' %}" class="float-right">Got password? Login</a>
                </div> <!-- form-group form-check .// -->
                <br><br>
                <div class="form-group">
                    <button type="submit" class="btn btn-light btn-block active" style="background-color:#e44d3a; color:white;"> Submit  </button>
                </div> <!-- form-group// -->
            </form>
        </div> <!-- card-body.// -->
    </div> <!-- card .// -->
     <p class="text-center mt-4">Don't have account? <a href="{% url 'register' %}">Sign up</a></p>
     <br><br>

</section>
{% endblock %}
