{% extends 'base_login_register.html' %}

{% block register %}
    <div class="sign_in_sec" id="tab-2">
            <h3>Sign up</h3>
                <form>
                <div class="row">
                    <div class="col-lg-12 no-pdd">
                        <div class="sn-field">
                            <input type="text" name="name" placeholder="Full Name">
                            <i class="la la-user"></i>
                        </div>
                    </div>
                    <div class="col-lg-12 no-pdd">
                        <div class="sn-field">
                            <input type="text" name="country" placeholder="Country">
                            <i class="la la-globe"></i>
                        </div>
                    </div>
                    <div class="col-lg-12 no-pdd">
                        <div class="sn-field">
                            <select>
                                <option>Category</option>
                            </select>
                            <i class="la la-dropbox"></i>
                            <span><i class="fa fa-ellipsis-h"></i></span>
                        </div>
                    </div>
                    <div class="col-lg-12 no-pdd">
                        <div class="sn-field">
                            <input type="password" name="password" placeholder="Password">
                            <i class="la la-lock"></i>
                        </div>
                    </div>
                    <div class="col-lg-12 no-pdd">
                        <div class="sn-field">
                            <input type="password" name="repeat-password" placeholder="Repeat Password">
                            <i class="la la-lock"></i>
                        </div>
                    </div>
                    <div class="col-lg-12 no-pdd">
                        <button type="submit" value="submit">Get Started</button>
                    </div>
                </div>
            </form>
    </div><!--login-sec end-->
{% endblock register %}