{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block title %}
	<title> Projects</title>
{% endblock title %}

{% block content %}
<div class="search-sec">

        <div class="container">
            <div class="search-box">
                <form method="GET" action="{% url 'search-projects' %}">
                    <input type="text" name="q" placeholder="Search keywords" required>
                    <button type="submit">Search</button>
                </form>
			</div><!--search-box end-->
		</div>
		</div><!--search-sec end-->

		<main>
			<div class="main-section">
				<div class="container">
					{% include 'includes/alerts.html' %}
					<div class="main-section-data">
						<div class="row">
							<div class="col-lg-3">
								<div class="filter-secs">
									<div class="filter-heading">
										<h3>Filters</h3>
									</div><!--filter-heading end-->

									<form action="{% url 'filter-projects' %}" method="POST">
										{% csrf_token %}
										<div class="paddy">
											<div class="filter-dd">
												<div class="filter-ttl">
													<h3>Skills</h3>
												</div>
													<input class="form-control" type="text" name="search_skills" placeholder="Search skills" style="background-color:#f2f2f2;">
											</div>
											<div class="filter-dd">
												<div class="filter-ttl">
													<h3>Availabilty</h3>
												</div>
												<ul class="avail-checks">
													<li>
														<input type="radio" name="availabilty" id="c1" value="Hourly">
														<label for="c1"><span></span></label>
														<small>Hourly</small>
													</li>
													<li>
														<input type="radio" name="availabilty" id="c2" value="Part Time">
														<label for="c2"><span></span></label>
														<small>Part Time</small>
													</li>
													<li>
														<input type="radio" name="availabilty" id="c3" value="Full Time">
														<label for="c3"><span></span></label>
														<small>Full Time</small>
													</li>
												</ul>
											</div>
											<div class="form-row">
												<div class="filter-ttl">
													<h3>Pay Rate / Hr ($)</h3>
												</div>
												<div class="filter-dd form-group col-md-6">
														<input class="form-control" type="number" name="min_price" placeholder="Min price" style="background-color:#f2f2f2;">
												</div>
												<div class="filter-dd form-group col-md-6">
														<input class="form-control" type="number" name="max_price" placeholder="Max price" style="background-color:#f2f2f2;">
												</div>
											</div>
											<div class="filter-dd">
												<div class="filter-ttl">
													<h3>Experience Level</h3>
												</div>
													<select class="form-control" style="background-color:#f2f2f2;" name="experience_level">
														<option selected="selected" disabled>Select a experience level</option>
														<option value="+1 years">+1 years</option>
														<option value="+2 years">+2 years</option>
														<option value="+3 years">+3 years</option>
														<option value="+4 years">+4 years</option>
														<option value="+5 years">+5 years</option>
													</select>
											</div>
											<div class="filter-dd">
												<div class="filter-ttl">
													<h3>Countries</h3>
												</div>
												<input class="form-control" name="country" placeholder="Country" style="background-color:#f2f2f2;">

											</div>

											<input type="submit" class="form-control" value="Search" style="background-color:#e44d3a; color:white">
											<br>
										</div>
									</form>

								</div><!--filter-secs end-->
							</div>
							<div class="col-lg-6">
								<div class="main-ws-sec">
									<div class="posts-section">
										<!-- display all projects -->
										{% if projects %}
											{% for project in projects %}
												<!-- if request.user is hide his project then hide his project for others users -->
												{% if request.user != project.user and project.hide %}
													<!-- if the user hide his project-->
												{% else %}
													<div class="post-bar">
														<div class="post_topbar">
															<div class="usy-dt">
																<img src="{{ project.user.photo_profile.url }}" width="50" height="50">
																<div class="usy-name">
																	<a href="{% url 'user-profile' project.user project.user.id %}">
																		<h3>{{ project.user.full_name }}</h3>
																	</a>
																	<span><img src="{% static 'images/clock.png' %}" alt="">{{ project.created_project | naturaltime }}</span>
																</div>
															</div>

															<!-- check if request.user == user for not hiding div.ed-opts  -->
															{% if project.user == request.user %}
																<div class="ed-opts">
																	<a href="#" title="" class="ed-opts-open"><i class="la la-ellipsis-v"></i></a>
																	<ul class="ed-options">
																		<li><a href="{% url 'edit-post-project' project.id %}">Edit Post</a></li>
																		<li>
																			<a href="{% url 'delete-post-project' project.id %}" onclick="return confirm('Are you sure to Delete this post')">
																				Delete post
																			</a>
																		</li>
																		{% if project.hide %}
																			<li><a href="{% url 'unhide-project' project.id %}">unhide</a></li>
																		{% else %}
																			<li><a href="{% url 'hide-project' project.id %}">Hide</a></li>
																		{% endif %}
																		<li><a href="" class="close-ed-opts">close</a></li>
																	</ul>
																</div>
															{% endif %}
														</div>
														<div class="epi-sec">
															<ul class="descp">
																<li><img src="{% static 'images/icon8.png' %}" alt=""><span>{{ project.epic_coder }}</span></li>
																<li><img src="{% static 'images/icon9.png' %}" alt=""><span>{{ project.location }}</span></li>
															</ul>
															<ul class="bk-links">
																<!-- check if request.user for not showing message button -->
																{% if request.user != project.user %}
																	<li>
																	<a href="{% url 'add-user-to-conversation' project.user.id %}">
																		<i class="la la-envelope"></i>
																	</a>
																</li>
																{% endif %}
																{% if request.user != project.user %} <!-- hide bid now on request.user -->
																	{% if project in my_profile.my_bids_projects.all %}
																		<li>
																			<a href="{% url 'unbid-project' project.id %}" class="bid_now">UnBid</a>
																		</li>
																	{% else %}
																		<li>
																			<a href="{% url 'bid-project' project.id %}" class="bid_now">Bid Now</a>
																		</li>
																	{% endif %}
																{% endif %}

																<!-- check if post project is hiding then show Hiding-->
																{% if project.hide == True %}
																	<li>
																		<a class="bid_now" style="background-color:gray;">Hiding</a>
																	</li>
																{% endif %}
															</ul>
														</div>
														<div class="job_descp">
															<h3>{{ project.name_project }}</h3>
															<ul class="job-dt">
																<li><span>${{ project.start_price }} - ${{ project.end_price }}</span></li>
															</ul>
															<p>
																{{ project.description_project | truncatechars:180 }}
																{% if project.description_project|length > 150 %}
																	.....<a href="{% url 'comment-projects' project.id %}">view more</a>
																{% endif %}
															</p>
															<ul class="skill-tags">
																<!-- display all tags of this project-->
																{% for tags in project.skills_tags_projects.all %}
																	<li>
																		<a>{{ tags }}</a>
																	</li>
																{% endfor %}
															</ul>
														</div>
														<div class="job-status-bar">
															<ul class="like-com">
																<li>
																	<!-- check the user if do a like -->
																	{% if request.user in project.likes.all %}
																		<a href="{% url 'remove-like-post-projects' project.id %}" class="active"><i class="la la-heart"></i> Like</a>
																		<img src="{% static 'images/liked-img.png' %}">
																		<span>{{ project.likes.all.count }}</span>
																	{% else %}
																		<a href="{% url 'add-like-post-projects' project.id %}"><i class="la la-heart"></i> Like</a>
																		<img src="{% static 'images/liked-img.png' %}">
																		<span>{{ project.likes.all.count }}</span>
																	{% endif %}
																</li>
																<li>
																	<a class="com" href="{% url 'comment-projects' project.id %}">
																		<img src="{% static 'images/com.png' %}"> Comment
																		{{ project.post_project_comment.all.count }}
																	</a>
																</li>
															</ul>
															<a><i class="la la-eye"></i>Views {{ project.viewers_project.all.count }}</a>
														</div>
													</div>
												{% endif %}
											{% endfor %}
										{% else %}
											<div class="post-bar">
												<div class="post_topbar">
													<div class="usy-dt">
														<p>No result found</p>
													</div>
												</div>
											</div>
										{% endif %}

										<!-- =============== Pagination =============== -->
										<nav class="full-pagi">
											{% if projects.has_other_pages %}
												<ul class="pagination justify-content-center">
													{% if projects.has_previous %}
														<li class="page-item">
															<a class="page-link pvr" href="?page={{ projects.previous_page_number }}">Previous</a>
														</li>
													{% else %}
														<li class="page-item disabled">
															<a class="page-link pvr">Previous</a>
														</li>
													{% endif %}

													{% for i in projects.paginator.page_range %}
														{% if projects.number == i %}
															<li class="page-item">
																<a class="page-link active">{{ i }}</a>
															</li>

														{% elif i > projects.number|add:'-4' and i < projects.number|add:'4' %}
    														<li class="page-item">
																<a class="page-link" href="?page={{ i }}">{{ i }}</a>
															</li>
														{% endif %}
													{% endfor %}

													{% if projects.has_next %}
														<li class="page-item">
															<a class="page-link pvr" href="?page={{ projects.next_page_number }}">Next</a>
														</li>
													{% else %}
														<li class="page-item disabled">
															<a class="page-link pvr">Next</a>
														</li>
													{% endif %}
												</ul>
											{% endif %}
										</nav>
                        				<!-- =============== end Pagination =============== -->

									</div><!--posts-section end-->
								</div><!--main-ws-sec end-->
							</div>
							<div class="col-lg-3">
								<div class="right-sidebar">
									<div class="widget widget-jobs">
										<div class="sd-title">
											<h3>Top Jobs</h3>
										</div>
										<div class="jobs-list">
											{% for top in top_jobs %}
												<div class="job-info">
													<div class="job-details">
														<a href="{% url 'comment-jobs' top.job_id %}">
															<h3>{{ top.name_jobs }}</h3>
														</a>
														<p>{{ top.description_job | truncatechars:45 }}</p>
													</div>
													<div class="hr-rate">
														<span>${{ top.price }}/hr</span>
													</div>
												</div><!--job-info end-->
											{% endfor %}
										</div><!--jobs-list end-->
									</div><!--widget-jobs end-->
									<div class="widget widget-jobs">
										<div class="sd-title">
											<h3>Most Viewed This Week</h3>
										</div>
										<div class="jobs-list">
											{% for most_viewed in jobs_most_viewed_this_week %}
											<div class="job-info">
												<div class="job-details">
													<a href="{% url 'comment-jobs' most_viewed.job_id %}">
														<h3>{{ most_viewed.name_jobs }}</h3>
													</a>
													<p>{{ most_viewed.description_job | truncatechars:45 }}</p>
												</div>
												<div class="hr-rate">
													<span>${{ most_viewed.price }}/hr</span>
												</div>
											</div><!--job-info end-->
											{% endfor %}
										</div><!--jobs-list end-->
									</div><!--widget-jobs end-->
								</div><!--right-sidebar end-->
							</div>

						</div>
					</div><!-- main-section-data end-->
				</div>
			</div>
		</main>

{% endblock content %}
