{% extends 'base.html' %}

{% block content %}

    <div class="container col-lg-6">
        <form method="POST" action="{% url 'edit-links-media' user_links_media.id %}" >
            {% csrf_token %}
            <label class="topic_label">name</label>
            {{ link_media_form.name }}

            <label class="topic_label">link</label>
            {{ link_media_form.link }}
            <br>
            <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-primary">Go Back</a>
            <input type="submit" class="btn btn-primary" value="Update">
            <br><br><br><br><br><br><br><br><br><br><br>
        </form>
    </div>
{% endblock content %}
