{% extends 'base.html' %}

{% block title %}
	<title> Edit Profile </title>
{% endblock title %}

{% block content %}

    <section class="profile-account-setting">
        <div class="container">
            <div class="account-tabs-setting">

                <!-- profile user -->
                {% include 'includes/alerts.html' %}
                <div class="row">
                    {% include 'includes/setting_sidebar.html' %} <!-- "col-lg-3" -->
                    <div class="col-lg-9">
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active">
                                <div class="acc-setting">
                                    <h3>Edit profile</h3>
                                    <div class="user-profile-ov">
                                        {% if request.user == user_profile.user %}
                                            <form action="{% url 'edit-profile' %}" method="POST" enctype="multipart/form-data">
                                            {% csrf_token %}
                                                <div class="form-row">

                                                    <!-- ======================= Personal information ======================== -->
                                                    <div class="post-project col-lg-12">
                                                        <h3 style="color:white;">Personal information</h3>
                                                    </div>
                                                    <!-- first_name  -->
                                                    <div class="form-group col-md-4">
                                                        <label class="topic_label">First Name</label>
                                                        {{ user_form.first_name }}
                                                    </div>

                                                    <!-- last_name -->
                                                    <div class="form-group col-md-4">
                                                        <label class="topic_label">Last Name</label>
                                                        {{ user_form.last_name }}
                                                    </div>

                                                    <!-- phone_number -->
                                                    <div class="form-group col-md-4">
                                                        <label class="topic_label">Phone Number</label>
                                                        {{ user_form.phone_number }}
                                                    </div>

                                                    <!-- location_country -->
                                                    <div class="form-group col-md-6">
                                                        <label class="topic_label">Country</label>
                                                        {{ profile_form.location_country }}
                                                    </div>

                                                    <!-- location_city -->
                                                    <div class="form-group col-md-6">
                                                        <label class="topic_label">City</label>
                                                        {{ profile_form.location_city }}
                                                    </div>

                                                    <!-- photo profile -->
                                                    <div class="form-group col-md-6">
                                                        <label class="topic_label">Photo profile</label>
                                                        <small class="photo_profile_info">(max 1 mega of taille)</small>
                                                        {{ user_form.photo_profile }}
                                                    </div>

                                                    <!-- photo cover -->
                                                    <div class="form-group col-md-6">
                                                        <label class="topic_label">photo cover</label>
                                                        <small class="photo_profile_info">(max 1 mega of taille)</small>
                                                        {{ profile_form.photo_cover }}
                                                    </div>

                                                    <!-- title -->
                                                    <div class="form-group col-md-12">
                                                        <label class="topic_label">profile title</label>
                                                        {{ profile_form.title }}
                                                    </div>

                                                    <!-- education Overview -->
                                                    <div class="form-group col-md-12">
                                                        <label class="topic_label">Overview</label>
                                                        {{ profile_form.overview}}
                                                    </div>

                                                    <!-- ======================= Education ======================== -->
                                                    <div class="post-project col-lg-12">
                                                        <h3 style="color:white;">Education</h3>
                                                    </div>

                                                    <!-- education_title -->
                                                    <div class="form-group col-md-8">
                                                        <label class="topic_label">education title</label>
                                                        {{ profile_form.education_title }}
                                                    </div>

                                                    <!-- education_year_start -->
                                                    <div class="form-group col-md-2">
                                                        <label class="topic_label">start year</label>
                                                        {{ profile_form.education_year_start }}
                                                    </div>

                                                    <!-- education_year_end -->
                                                    <div class="form-group col-md-2">
                                                        <label class="topic_label">end year</label>
                                                        {{ profile_form.education_year_end }}
                                                    </div>

                                                    <!-- education description -->
                                                    <div class="form-group col-md-12">
                                                        <label class="topic_label">education description</label>
                                                        {{ profile_form.education_description}}
                                                    </div>

                                                    <div class="form-group col-md-10">
                                                        <input type="submit" value="Save" class="btn btn-danger" style="background-color:#e44d3a; color:white;">
                                                    </div>
                                                </div>
                                                <br>
                                        </form>
                                        {% else %}
                                            <p>no</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <br><br>

                <!-- experience user -->
                <div class="row">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-9">
                        <div class="tab-pane fade show active">
                            <div class="acc-setting">
                                <h3>Edit experience</h3>
                                <div class="user-profile-ov">
                                    {% if request.user == user_profile.user %}
                                        <form action="{% url 'edit-profile' %}" method="POST" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            <div class="form-row">
                                                <!-- title  -->
                                                {% for experience in user_experience %}
                                                    {% if experience.experince_title != None %}
                                                        <div class="form-group col-md-2">
                                                            <h1>title</h1>
                                                            <p>{{ experience.experince_title }}</p>
                                                        </div>

                                                        <div class="form-group col-md-7">
                                                            <h1>description</h1>
                                                            <p>{{ experience.experince_description }}</p>
                                                        </div>

                                                        <div class="form-group col-md-3">
                                                            <a href="{% url 'edit-user-experience' experience.id %}" class="btn btn-light">Update</a>
                                                            <a href="{% url 'delete-user-experience' experience.id %}" onclick="return confirm('Are you sure')" class="btn btn-danger">Delete</a>
                                                        </div>
                                                        <div class="form-group col-md-12"><hr></div>
                                                    {% endif %}
                                                {% endfor %}
                                                <a href="{% url 'create-user-experience' %}" class="btn btn-danger" style="background-color:#e44d3a; color:white;">Create</a>
                                            </div>
                                        </form>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <br><br>

                <!-- tags user -->
                <div class="row">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-9">
                        <div class="tab-pane fade show active">
                            <div class="acc-setting">
                                <h3>Edit Tags</h3>
                                <div class="user-profile-ov">
                                    {% if request.user == user_profile.user %}
                                        <form action="{% url 'create-user-tags' %}" method="POST" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            <div class="form-row">
                                                <!-- title  -->
                                                <div class="form-group col-md-12">
                                                    <!-- display if user_tags exists -->
                                                    {% if user_tags %}
                                                    <ul>
                                                        {% for tag in user_tags %}
                                                            <!-- if tag has null value then ignore it-->
                                                            {% if tag.tag %}
                                                                <li>
                                                                    <a href="{% url 'delete-user-tags' tag.id %}">
                                                                        {{ tag }}
                                                                        <i class="la la-close"></i>
                                                                    </a>
                                                                </li>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </ul>
                                                    {% endif %}
                                                    <label class="topic_label">Tags</label>
                                                    {{ user_tags_form.tag }}
                                                </div>

                                                <!-- save experience informations -->
                                                <div class="form-group col-md-10">
                                                    <input type="submit" value="Save" class="btn btn-danger" style="background-color:#e44d3a; color:white;">
                                                </div>
                                            </div>
                                        </form>
                                    {% else %}
                                        <p>no</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <br><br>

                <!-- links media -->
                <div class="row">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-9">
                        <div class="tab-pane fade show active">
                            <div class="acc-setting">
                                <h3>Edit links</h3>
                                <div class="user-profile-ov">
                                    {% if request.user == user_profile.user %}
                                        <form action="{% url 'create-links-media' %}" method="POST" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            <div class="form-row">
                                                <!-- title  -->
                                                {% for link in user_links_media %}
                                                    {% if link.name != None %}
                                                        <div class="form-group col-md-3">
                                                            <p>{{ link.name }}</p>
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <p>{{ link.link }}</p>
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <a href="{% url 'edit-links-media' link.id %}" class="btn btn-light">Update</a>
                                                            <a href="{% url 'delete-links-media' link.id %}" onclick="return confirm('Are you sure you want te delete this link')" class="btn btn-danger">Delete</a>
                                                        </div>
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                        </form>
                                        <a href="{% url 'create-links-media' %}" class="btn btn-danger" style="background-color:#e44d3a; color:white;">Create</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}

