    <!-- overview -->
    <div class="user-profile-ov">
        <h3>
            <a>Overview</a>
            {% if request.user == user_profile.user %}
                <a href="{% url 'edit-profile' %}">
                    <i class="fa fa-pencil"></i>
                </a>
            {% endif %}
        </h3>
        {% if user_profile.overview %}
            <p>{{ user_profile.overview }}</p>
        {% else %}
            <p>Enter Overview</p>
        {% endif %}
    </div>

    <!-- experience -->
    <div class="user-profile-ov st2">
        <h3>
            <a>Experience </a>
            {% if request.user == user_profile.user %}
                <a href="{% url 'edit-profile' %}"><i class="fa fa-pencil"></i></a>
                <a href="{% url 'edit-profile' %}"><i class="fa fa-plus-square"></i></a>
            {% endif %}
        </h3>
        {% for experience in user_experience %}
            <h4>
                {% if user_profile.experience.experince_title %}
                    {{ experience.experince_title }}

                {% endif %}
            </h4>
            {% if user_profile.experience.experince_description %}
                <p>{{ experience.experince_description }}</p>
            {% endif %}
        {% endfor %}

    </div>

    <!-- eduction -->
    <div class="user-profile-ov">
        <h3>
			<a class="ed-box-open">Education</a>
            {% if request.user == user_profile.user %}
			    <a href="{% url 'edit-profile'  %}}"><i class="fa fa-pencil"></i></a>
            {% endif %}
		</h3>
        <h4>{{ user_profile.education_title }}</h4>
        <span>{{ user_profile.full_year }}</span>
        <p>{{ user_profile.education_description }}</p>
    </div>

    <!-- location -->
    <div class="user-profile-ov">
        <h3>
			<a>Location</a>
            {% if request.user == user_profile.user %}
			    <a href="{% url 'edit-profile'  %}"><i class="fa fa-pencil"></i></a>
            {% endif %}
		</h3>
        <h4>{{ user_profile.location_country }}</h4>
        <p>{{ user_profile.location_city }}</p>
    </div>

    <!-- tags -->
    <!-- if user_profile has tag then display it else don't show it -->
	{% if user_profile.skills_tags_user.all %}
		<div class="user-profile-ov">
			<h3>
				<a>Skills</a>
                <!-- if request.user in his profile then show him the modification links -->
                {% if request.user == user_profile.user %}
				    <a href="{% url 'edit-profile' %}"><i class="fa fa-pencil"></i></a>
				    <a href="{% url 'edit-profile' %}"><i class="fa fa-plus-square"></i></a>
                {% endif %}
			</h3>
			<ul>
                <!-- display tags if exits -->
				{% for tag in user_profile.skills_tags_user.all %}
					<li><a>{{ tag }}</a></li>
				{% endfor %}
			</ul>
		</div><!--user-profile-ov end-->
	{% endif %}
