{% extends 'base.html' %}
{% load static %}

{% block content %}
        <section class="cover-sec">
			<img src="{{ user_profile.photo_cover.url }}" width="1600" height="400">
			<a href="{% url 'edit-profile' %}" title=""><i class="fa fa-camera"></i> Change Image</a>
		</section>

		<main>
			<div class="main-section">
				<div class="container">
					<div class="main-section-data">
						<div class="row">
							<div class="col-lg-3">
								<div class="main-left-sidebar">
									<div class="user_profile">
										<div class="user-pro-img">
											<img src="{{ user_profile.photo_profile.url }}" width="170" height="170">
											<a href="#" title=""><i class="fa fa-camera"></i></a>
										</div><!--user-pro-img end-->
										<div class="user_pro_status">
											<ul class="flw-hr">
												<li><a href="#" title="" class="flww"><i class="la la-plus"></i> Follow</a></li>
											</ul>
											<ul class="flw-status">
												<li>
													<span>Following</span>
													<b>34</b>
												</li>
												<li>
													<span>Followers</span>
													<b>155</b>
												</li>
											</ul>
										</div><!--user_pro_status end-->
										<ul class="social_links">
											{% for link in links_media %}
												{% if link.name == 'facebook' %}
													<li><a href="{{link.link}}" title=""><i class="fa fa-{{link.name}}-square"></i> {{ link.link }}</a></li>
												{% else %}
													<li><a href="{{link.link}}" title=""><i class="fa fa-{{link.name}}"></i> {{ link.link }}</a></li>
												{% endif %}
											{% endfor %}
										</ul>
									</div><!--user_profile end-->
									<div class="suggestions full-width">
										<div class="sd-title">
											<h3>Suggestions</h3>
											<i class="la la-ellipsis-v"></i>
										</div><!--sd-title end-->
										<div class="suggestions-list">
											{% for user_profile in all_user_profile %}
												{% if request.user != user_profile.user %}<!-- display all user without request.user-->
													<div class="suggestion-usd">
														<img src="{{ user_profile.photo_profile.url}}" width="35" height="35">
														<div class="sgt-text col-8">
															<a class="sgt-text" href="{% url 'user-profile' user_profile.user user_profile.user.id %}">
																<h4>{{ user_profile.user.full_name }}</h4>
															</a>
															<span>{{ user_profile.title }}</span>
														</div>
														<span><i class="la la-plus"></i></span>
													</div>
														<!----
														<div class="suggestion-usd">
															<img src="{{ user_profile.photo_profile.url }}" width="35" height="35">
															<div class="sgt-text col-8">
																<a href="{% url 'user-profile' user_profile.user user_profile.user.id %}">
																	<h4>{{ user_profile.user.full_name }}</h4>
																</a>
																{% if user_profile.experience.experince_title %}
																	<span class="col-0">{{ user_profile.experience.experince_title }}</span>
																{% endif %}
															</div>
															<span><i class="la la-plus"></i></span>
														</div>-->
												{% endif %}
											{% endfor %}
											<div class="view-more">
												<a href="#" title="">View More</a>
											</div>
										</div><!--suggestions-list end-->
									</div><!--suggestions end-->
								</div><!--main-left-sidebar end-->
							</div>
							<div class="col-lg-6">
								<div class="main-ws-sec">
									<div class="user-tab-sec">
										<h3>{{ user_profile.user.full_name }}</h3>
										<div class="star-descp">
											<span>{{ user_profile.title }}</span>
										</div><!--star-descp end-->
										<div class="tab-feed">
											<ul>
												<li data-tab="info-dd" class="active">
													<a href="#" title="">
														<img src="{% static 'images/ic2.png' %}" alt="">
														<span>Info</span>
													</a>
												</li>
												<li data-tab="portfolio-dd">
													<a href="#" title="">
														<img src="{% static 'images/ic3.png' %}">
														<span>Portfolio</span>
													</a>
												</li>
											</ul>
										</div><!-- tab-feed end-->
									</div>
									<!--user-tab-sec end-->
									<div class="wrapper">
										<div class="product-feed-tab" id="portfolio-dd">
											{% include 'profile_user/portfolio.html' %}
										</div>
										<!--product-feed-tab end-->

										<div class="product-feed-tab current" id="info-dd">
											{% include 'profile_user/info.html' %}
										</div>
									</div>
									<!--product-feed-tab end-->
								</div><!--main-ws-sec end-->
							</div>

							<div class="col-lg-3">
                                <!--start right-sidebar-->
								<div class="right-sidebar">
									<div class="message-btn">
										<a href="#" title=""><i class="fa fa-envelope"></i> Message</a>
									</div>
									<div class="widget widget-portfolio">
										<div class="wd-heady">
											<h3>Portfolio</h3>
											<img src="{% static 'images/photo-icon.png' %}" alt="">
										</div>
										<div class="pf-gallery">
											<ul>
												<li><a href="#" title=""><img src="http://via.placeholder.com/70x70" alt=""></a></li>
												<li><a href="#" title=""><img src="http://via.placeholder.com/70x70" alt=""></a></li>
												<li><a href="#" title=""><img src="http://via.placeholder.com/70x70" alt=""></a></li>
											</ul>
										</div><!--pf-gallery end-->
									</div><!-- widget-portfolio end-->
								</div>
                                <!--end right-sidebar-->
							</div>
						</div>
					</div><!-- main-section-data end-->
				</div>
			</div>
		</main>
{% endblock content %}