{% if messages %}
    {% for message in messages %}
    <div id="message" class="container">
        <div {% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %} role="alert">
            <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
            </button>
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}

                {% if form.email.errors %}
                    {{ form.email.errors }}
                {% elif form.non_field_errors %}
                    {{ form.non_field_errors }}
                {% else %}
                    {{ message }}
                {% endif %}

            {% else %}
                {{ message }}
            {% endif %}

        </div>
    </div>
    {% endfor %}
{% endif %}
