{% extends 'base.html' %}

{% block content %}

    <section class="forum-sec">
        <div class="container">
            <div class="forum-links">
                <ul>
                    <li class="active"><a href="#" title="">Latest</a></li>
                    <li><a href="#" title="">Treading</a></li>
                </ul>
            </div><!--forum-links end-->
            <div class="forum-links-btn">
                <a href="#" title=""><i class="fa fa-bars"></i></a>
            </div>
        </div>
    </section>


    <section class="forum-page">
        {% include 'includes/alerts.html' %}
        <div class="container">
            <div class="forum-questions-sec">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="forum-questions">
                            {% for info in user_profile %}
                            <div class="usr-question">
                                    <div class="usr_img">
                                        <img src="{{ info.photo_profile.url }}" alt="">
                                    </div>
                                    <div class="usr_quest">
                                        <h3>{{ info.overview }}</h3>
                                        <ul class="react-links">
                                            <li><a href="#" title=""><i class="fa fa-heart"></i> Vote 150</a></li>
                                            <li><a href="#" title=""><i class="fa fa-comment"></i> Comments  15</a></li>
                                            <li><a href="#" title=""><i class="fa fa-eye"></i> Views  50</a></li>
                                        </ul>
                                        <ul class="quest-tags">
                                            {% for tag in info.skills_tags.all %}
                                                <li>
                                                    <a href="" title=""> {{ tag }}</a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    <span class="quest-posted-time">
                                        <i class="fa fa-clock-o"></i>{{ info.updated | timesince }} ago
                                    </span>
                            </div><!--usr-question end-->
                            {% endfor %}
                        </div><!--forum-questions end-->

                        <!-- =============== Pagination =============== -->
                        <nav aria-label="Page navigation example" class="full-pagi">
                            <ul class="pagination">
                                <li class="page-item"><a class="page-link pvr" href="#">Previous</a></li>
                                <li class="page-item"><a class="page-link active" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">4</a></li>
                                <li class="page-item"><a class="page-link" href="#">5</a></li>
                                <li class="page-item"><a class="page-link" href="#">6</a></li>
                                <li class="page-item"><a class="page-link pvr" href="#">Next</a></li>
                            </ul>
                        </nav>
                        <!-- =============== end Pagination =============== -->
                    </div>
                    <div class="col-lg-4">
                        <div class="widget widget-user">
                            <h3 class="title-wd">Top User of the Week</h3>
                            <ul>
                                  {% for info in user_profile %}
                                        <li>
                                            <div class="usr-msg-details">
                                                <div class="usr-ms-img">
                                                    <img src="{{ info.photo_profile.url }}" alt="">
                                                </div>

                                                <div class="usr-mg-info">
                                                    <h3>{{ info.user.full_name }}</h3>
                                                    <p>{{ info.experience.experince_title }} </p>
                                                </div><!--usr-mg-info end-->
                                            </div>
                                            <span><img src="images/price1.png" alt="">1185</span>
                                        </li>
                                  {% endfor %}
                            </ul>
                        </div><!--widget-user end-->

                        <!--
                        <div class="widget widget-adver">
                            <img src="http://via.placeholder.com/370x270" alt="">
                        </div>-->
                        <!--widget-adver end-->

                    </div>
                </div>
            </div><!--forum-questions-sec end-->
        </div>
    </section><!--forum-page end-->

{% endblock content %}