{% extends 'base.html' %}

{% block title %}
	<title> Create Post Project | Workwise</title>
{% endblock title %}

{% block content %}
    <section class="section-content padding-y" style="min-height:84vh">
          <div class="card mx-auto" style="max-width: 680px; margin-top:40px;">
                <div class="post-project col-lg-12">
        <br>
        <h3>Post a project</h3>
        <div class="post-project-fields">
            <form method="POST" action="{% url 'post-project' %}">
                {% csrf_token %}
                <div class="row">
                    <div class="col-lg-6">
                        {{ form_post_project.name_project }}
                    </div>
                    <div class="col-lg-6">
                        {{ form_post_project.epic_coder }}
                    </div>
                    <div class="col-lg-12">
                        {{ form_post_project.location }}
                    </div>

                    <div class="col-lg-6">
                        {{ form_post_project.start_price }}
                    </div>

                    <div class="col-lg-6">
                        {{ form_post_project.end_price }}
                    </div>

                    <div class="col-lg-12">
                        {{ form_post_project.description_project }}
                    </div>

                    <div class="col-lg-12">
                        {{ form_tags_post_project.tag }}
                    </div>
                    <div class="col-lg-12">
                        <ul>
                            <li><button class="active" type="submit" value="post">Post</button></li>
                        </ul>
                    </div>
                </div>
            </form>
        </div><!--post-project-fields end-->
    </div><!--post-project end-->
          </div>
          <br>
    </section>
{% endblock content %}